<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" th:each="action:${actions}">
                   <!-- <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li> -->
                    <li><a th:href="@{'/'+ ${action.key}}"th:text="${action.value}"></a></li>

                </ul>
            </div>
        </div>
    </div>



<!--fragment to search list -->
<th:block th:fragment = "listSearch">
    <th:block th:each="jobs : ${jobs}">
        <table class="job-listing">
            <tr>
                <td class="fieldLabel">ID: </td>
                <td th:text="${jobs.id}"></td>
            </tr>
            <tr>
                <td class="fieldLabel">Name: </td>
                <td th:text="${jobs.name}"></td>
            </tr>
            <tr>
                <td class="fieldLabel">Employer: </td>
                <td> <a th:href="@{/list/jobs(column=employer,value=${jobs.employer})}" th:text="${jobs.employer}"></a></td>
            </tr>
            <tr>
                <td class="fieldLabel">Location: </td>
                <td> <a th:href="@{/list/jobs(column=location,value=${jobs.location})}" th:text="${jobs.location}"></a></td>
            </tr>
            <tr>
                <td class="fieldLabel">Position Type: </td>

                <td> <a th:href="@{/list/jobs(column=positionType,value=${jobs.positionType})}" th:text="${jobs.positionType}"></a></td>
            </tr>
            <tr>
                <td class="fieldLabel">Skill: </td>

               <td> <a th:href="@{/list/jobs(column=coreCompetency,value=${jobs.coreCompetency})}" th:text="${jobs.coreCompetency}"></a></td>

            </tr>
            </tr>
            <tr></tr>

            </class></table>
    </th:block>
</th:block>

</body>
</html>

